@page "/consulta-clientes"
@rendermode InteractiveServer

@using AdventureWorksVentas.DTOs
@inject AdventureWorksVentas.Services.ClienteService ClienteService
@inject NavigationManager Navigation

<PageTitle>Consulta de Clientes</PageTitle>

<h3>Consulta de Clientes</h3>

@if (!string.IsNullOrEmpty(mensaje))
{
    <div class="alert @(exito ? "alert-success" : "alert-danger")">
        @mensaje
    </div>
}

<table class="table table-bordered table-hover">

    <thead class="table-dark">
        <tr>
            <th>Código</th>
            <th>Cliente</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th style="width:220px;">Acción</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in clientes)
        {
            <tr>

                <td>@item.CustomerID</td>
                <td>@item.NombreCliente</td>
                <td>@item.Email</td>
                <td>@item.Telefono</td>

                <td style="white-space:nowrap;">

                    <button class="btn btn-success btn-sm me-2"
                            @onclick="() => Seleccionar(item.CustomerID)">
                        Seleccionar
                    </button>

                    <button class="btn btn-danger btn-sm"
                            @onclick="() => Eliminar(item.CustomerID)">
                        Eliminar
                    </button>

                </td>

            </tr>
        }

    </tbody>

</table>

@code
{
    private string mensaje = "";
    private bool exito = true;

    private List<ClienteDTO> clientes = new();

    protected override async Task OnInitializedAsync()
    {
        clientes = await ClienteService.ConsultarClientes();
    }

    private void Seleccionar(int id)
    {
        Navigation.NavigateTo($"/clientes/{id}");
    }

    private async Task Eliminar(int id)
    {
        bool eliminado = await ClienteService.EliminarCliente(id);

        if (eliminado)
        {
            exito = true;
            mensaje = "Cliente eliminado correctamente.";
        }
        else
        {
            exito = false;
            mensaje = "No se puede eliminar porque el cliente tiene registros relacionados.";
        }

        clientes = await ClienteService.ConsultarClientes();

        StateHasChanged();
    }
}